.modal-content {
    background: transparent !important;
    border: 1px solid #ffffff;
    margin-top: 20%;
}

.modal-title {
    color: #ffffff !important;
    font-family: Quicksand-Bold;

}

.alert{
    margin-top: 10px;
}